<!-- Describe task in general -->

<p>
    Тобі дано два {% if is_js %}масиви{% else %}списки{% endif %} цілих чисел.
    Елементи унікальні всередині кожного {% if is_js %}масиву{% else %}списку{% endif %}.
    Ці {% if is_js %}масиви{% else %}списки{% endif %} можуть мати спільний елемент(и).
    Та нас цікавить лише спільний елемент(и) в кінці {% if is_js %}масивів{% else %}списків{% endif %}.
    Твоя функція повинна повертати елемент, з якого розпочинається спільна частина, після якої
    вже немає різних елементів - перший елемент останньої спільної частини (спільний "хвіст").
    Якщо такого елементу немає ({% if is_js %}масиви{% else %}списки{% endif %}
    не завершуються жодним спільним елементом), твоя функція повинна повертати {% if is_js %}null{% else %}None{% endif %}. Удачі!
</p>

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> Два {% if is_js %}масиви{% else %}списки{% endif %} цілих чисел.
</p>

<p>
    <strong>Вихідні дані:</strong> Ціле число або {% if is_js %}null{% else %}None{% endif %}. 
</p>


<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
